{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<html lang="en" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title> login page </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<body>
    <div class="hm">
  <div class="y"> Gringotts Bank</div>


</div>
<div class="mm">[The safest place for your money]
</div>
<div class="center">
    <h1>Login</h1>
    <form method="POST">
      <div class="form-group">
          <div class="txt_field">
              <input type="email" class="form-control" id="email" name="email" required>
              <span></span>
              <label for="email">Email-Address</label>
          </div>
      </div>
      <div class="form-group">
         <div class="txt_field">
             <input type="password" class="form-control" id="password" name="password" required>
             <span></span>
             <label for="password">Password</label>
         </div>
      </div>
        <div class="pass">Forgot Password?</div>

  <br />
  <input type="submit" value="Login" class="btn btn-primary">
  <div class="signup_link">
      Not a user? <a href="/signup">SignUp</a>
    </form>
</div>
</body>
</html>
{% endblock %}
